@font-face{
  font-family: Gilroy-Extrabold;
  src: url(../fonts/Gilroy-ExtraBold.ttf);
}

@font-face{
  font-family: Gilroy-bold;
  src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face{
  font-family: Gilroy-medium;
  src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face{
  font-family: Gilroy-regular;
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face{
  font-family: Gilroy-light;
  src: url(../fonts/Gilroy-Light.ttf);
}
