.footer{
  width: 55%;
  margin: 0 auto;
  font-family: Gilroy-light;
  font-size: 0.75rem;
  color: #e3e6ff;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 200px;
  padding-bottom: 30px;

  &__list{
    display: flex;
    justify-content: space-between;
  }

  span{
    margin: 15px 0;
    display: block;
  }

  &__link{
    display: block;
    text-decoration: underline;
  }
}

#modal{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 20px;
  position: relative;

  .mfp-close{
    position: absolute;
    right: 0;
    top: 0;
  }
}

#modal{
  b{
    font-size: 30px;
    font-family: Gilroy-bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }

  p{
    font-size: 12px;
    font-family: Gilroy-regular;
  }

  .mfp-close{
    color: grey;
  }
}
