*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body {
  margin: 0;
}

a{
  text-decoration: none;
  color: unset;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

button{
  outline: none;
  border: none;
}

.container{
  width: 71.3%;
  margin: 0 auto;
}

.quiz{
  display: none;
}

.quiz__start{
  background-image: none!important;
  background: #fff;

  .content{
    display: none;
  }

  .quiz{
    display: flex;
  }

  .logo{
    &__blue{
      display: block;
    }

    &__img{
      display: none;
    }
  }

  .phone{
    color: #3c3cf0;

    &__icon{
      display: none;
    }

    &-blue{
      display: inline-block!important;
    }
  }
}

.main{
  padding-top: 30px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url('../images/main-bg.jpg');

  &__title{
    display: inline-block;
    font-family: Gilroy-Extrabold;
    font-size: 2.875rem;
    border-bottom: 7px solid #61fda4;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }

  &__text{
    font-family: Gilroy-bold;
    font-size: 2rem;
    letter-spacing: 0.5px;
    width: 72%;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.services{
  margin-top: 55px;

  &__title{
    font-family: Gilroy-medium;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;

    li{
      &:before{
        content: '';
        width: 28px;
        float: left;
        margin-top: -5px;
        height: 28px;
        margin-right: 15px;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url('../images/marker.png');
      }

      font-family: Gilroy-regular;
      font-size: 1.125rem;
      width: 33.3333%;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  &__btn{
    font-family: Gilroy-light;
    font-size: 1.375rem;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: rgb(80, 76, 249);
    box-shadow: 0 0 62px 0 rgba(16, 16, 51, 0.3);
    border: none;
    color: #fff;
    padding: 25px 45px;
    margin-top: 75px;
    position: relative;
    outline: none;
    cursor: pointer;

    &:before, &:after{
      content: '';
      display: block;
      background-image: url('../images/arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transform: scale(2, 2) rotate(-90deg);
      position: absolute;
      top: 0;
      left: -80px;
      width: 60px;
      height: 31px;
    }

    &:after{
      right: -80px !important;
      transform: scale(-2, 2) rotate(-90deg);
      left: inherit;
    }

    span{
      font-family: Gilroy-bold;
      display: block;
    }
  }
}

.content{
  margin-top: 65px;
  color: #fff;
  text-align: center;
}

/* Sections */
@import 'fonts';
@import 'header';
@import 'footer';
@import 'quiz';
@import 'thanks';
@import 'reset';
@import 'media';
