@media screen and (max-width: 1440px) {
  html{
    font-size: 14px;
  }

  .quiz__form__input{
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1170px) {
  .services{
    &__list{
      li{
        width: 50%;
      }
    }
  }

  .footer{
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  html{
    font-size: 13px;
  }

  .discount{
    width: 45%;

    img{
      max-width: 100%;
    }
  }

  .question{
    &__btn{
      margin: 20px 0;
    }

    &__block{
      width: 36%;
    }
  }

  #quiz__form{
    margin-bottom: 20px;
  }

  #quiz{
    height: 280px;
  }
}

@media screen and (max-width: 768px) {
  html{
    font-size: 12px;
  }

  .main{
    &__text{
      width: 100%;
    }
  }

  .footer{
    width: 80%;
  }

  .quiz{
    flex-direction: column;
  }

  .question{
    &__block{
      width: 100%;
      padding: 0 40px;
      order: 2;
    }
  }

  .discount{
    width: 100%;
  }

  #quiz__form{
    width: 100%;
  }

  #quiz{
    height: 210px;
  }
}

@media screen and (max-width: 425px) {
  html{
    font-size: 12px;
  }

  .logo{
    display: none;
  }

  .header{
    flex-direction: column;
  }

  .container{
    width: 100%;
  }

  .services{
    &__list{
      display: none;
    }

    &__title{
      display: none;
    }

    &__btn__wrap:after, &__btn__wrap:before{
      content: none;
    }

    &__btn__wrap{
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  .main{
    &__title{
      font-size: 2.3rem;
      line-height: 35px;
    }

    &__text{
      font-size: 1.5rem;
    }

    &__text{
      width: 100%;
    }
  }

  .footer{
    width: 100%;
    margin-top: 50px;

    &__list{
      flex-wrap: wrap;

      li{
        width: 50%;
        margin-bottom: 5px;
      }
    }
  }

  .thanks{
    &__content{
      margin-top: 50px;
    }

    &__text{
      font-size: 2rem;

      &_bold{
        font-size: 1.3rem;
      }

      &_medium{
        font-size: 1.2rem;
      }
    }
  }

  .question{
    &__block{
      padding: 0 10px;
    }

    &__btn{
      width: 80%;
    }
  }

  .quiz__form__text{
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 375px) {
  .main{
    &__text{
      margin-top: 20px;
    }
  }

  .services{
    &__btn{
      padding: 25px 30px;
      font-size: 1.3rem;
    }
  }

  .question__checkbox__label{
    letter-spacing: 0;
  }
}

@media screen and (max-width: 320px) {
  .container{
    width: 100%;
  }

  html{
    font-size: 11px;
  }

  .main{
    &__title{
      font-size: 2.6rem;
    }
  }

  .services{
    &__btn{
      width: 100%;
      padding: 25px 20px;
    }
  }

  .footer{
    &__list{
      li{
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
