.quiz{
  margin-top: 70px;
  width: 100%;
  background: #f6f6f6;
  flex-direction: row;
  justify-content: space-evenly;

  &__form{
    &__text{
      font-family: Gilroy-bold;
      font-size: 1.125rem;
      color: #fff;
      letter-spacing: 0.5px;
      line-height: 30px;

      span{
        color: #61fda4;
      }
    }

    &__input{
      background: url('../images/phone-symbol.svg') no-repeat 15px center;
      border-radius: 10px;
      border: 1px solid #fff;
      outline: none;
      height: 48px;
      font-family: Gilroy-light;
      font-size: 1rem;
      color: #fff;
      text-align: center;
      padding: 0 5px 0 35px;
      margin-top: 30px;
      &::-webkit-input-placeholder {color:#fff; font-family: Gilroy-light; font-size: 16px; text-align: center;}
      &::-moz-placeholder          {color:#fff; font-family: Gilroy-light; font-size: 16px; text-align: center;}/* Firefox 19+ */
      &:-moz-placeholder           {color:#fff; font-family: Gilroy-light; font-size: 16px; text-align: center;}/* Firefox 18- */
      &:-ms-input-placeholder      {color:#fff; font-family: Gilroy-light; font-size: 16px; text-align: center;}
    }

    &__btn{
      font-family: Gilroy-bold;
      font-size: 1rem;
      color: #3c3cf0;
      background: #fff;
      height: 60px;
      border-radius: 10px;
      margin-top: 20px;
      cursor: pointer;
    }
  }
}

.last-question{
  #next{
    display: none;
  }

  #quiz{
    height: auto;
  }

  #quiz__form{
    opacity: 1;
    position: inherit;
  }

  .slide{
    z-index: -1!important;
  }

  #question__progress__line{
    width: 100%!important;
  }
}

#quiz__form{
  background: #3c3cf0;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 38px 0 rgba(60, 60, 240, 0.2);
  transition: opacity 1s ease;
  position: absolute;
  opacity: 0;

  form{
    display: flex;
    flex-direction: column;
  }
}

.agree{
  font-family: Gilroy-light;
  font-size: 0.5625rem;
  color: #d0d0d0;
  margin-top: 10px;
}

.question{
  margin-top: 85px;
  position: relative;

  &__block{
    width: 40%;
    margin-top: 75px;
  }

  &__counter{
    width: 100%;
    font-family: Gilroy-medium;
    font-size: 0.75rem;
    color: #3c3cf0;
    letter-spacing: 1px;

    p{
      display: inline;
    }
  }

  &__progress{
    background: #d0d0d0;
    height: 17px;
    display: block;
    border-radius: 5px;
    margin-top: 10px;

    span{
      background: #3c3cf0;
      height: 100%;
      width: 2%;
      display: block;
      border-radius: 5px;
    }
  }

  &__list{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__text{
    font-family: Gilroy-bold;
    font-size: 1.125rem;
  }

  &__checkbox{
    margin-top: 40px;

    &__label{
      display: block;
      font-family: Gilroy-medium;
      font-size: 1.125rem;
      letter-spacing: 1px;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding-left: 55px;
      margin-bottom: 30px;
      line-height: 30px;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark:after {
          display: block;
        }
      }

      .checkmark:after {
        left: 12px;
        top: 5px;
        width: 5px;
        height: 13px;
        border: solid #3c3cf0;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #d0d0d0;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  &__btn{
    font-family: Gilroy-medium;
    font-size: 1.125rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    height: 80px;
    width: 70%;
    box-shadow: 0 0 49px 0 rgba(104, 104, 104, 0.2);

    &_last{
      background: #3c3cf0;
      color: #fff;
      display: flex;
      justify-content: center;

      span{
        display: block;
      }

      &:after{
        align-self: center;
        fill: #fff;
        background: url('../images/triangle-white.svg')!important;
      }
    }

    &:after{
      content: '';
      display: inline-block;
      height: 15px;
      width: 11px;
      margin-left: 10px;
      background-repeat: no-repeat;
      vertical-align: middle;
      background: url('../images/triangle.svg');
    }
  }
}

.discount{
  background: #fff;
  position: relative;
  border-radius: 9px;
  box-shadow: 0 0 87px 0 rgba(96, 96, 96, 0.2);
  margin: -40px 0;
  text-align: center;

  &__number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Gilroy-bold;
    font-size: 1.5rem;
    white-space: nowrap;

    span{
      display: block;
      font-family: Gilroy-Extrabold;
      font-size: 3.75rem;
      color: #3c3cf0;
      margin-top: 40px;
    }
  }

  &__text{
    font-family: Gilroy-medium;
    font-size: 0.875rem;
    color: #808080;
    position: absolute;
    display: inline-block;
    bottom: 110px;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  &__image{
    opacity: 0.2;
    padding: 40px;
  }
}

#quiz{
  height: 250px;
}

.slide{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}
