footer.footer
  ul.footer__list
    li ООО «ВЕРНОЕ РЕШЕНИЕ»
    li ИНН 2724228941
    li ОГРН 1182724012646
    li КПП 272401001
  span *Скидка предоставляется на одну услугу либо на первый месяц сопровождения бизнеса
  a(href="#").footer__link Согласие на обработку персональных данных
