.main#main
  .container
    include header.pug
    main.content
      h1.main__title Получить скидку 5000 руб*
      p.main__text на юридическое сопровождение вашего бизнеса, ответив всего на 5 вопросов
      .services
        h2.services__title На какие услуги можно получить скидку?
        ul.services__list
          li Устная и письменная консультация
          li Составление претензии, жалобы, искового заявления
          li Составление договоров
          li Представление интересов в суде первой инстанции
          li Cоставление апелляционной жалобы
          li Представление интересов в суде аппеляционной инстанции
        .services__btn__wrap
          button#services__btn.services__btn.blick Пройти тест и получить 
            span скидку 5000 руб
    include quiz.pug
    include footer.pug
