.main.thanks__container#main
  .container
    include header.pug
    .thanks__content
      p.thanks__text Спасибо за доверие!
        span.thanks__text_bold Ваша скидка закреплена за указанным Вами телефоном
        span.thanks__text_medium Мы свяжемся с Вами в ближайшее время!
    include footer.pug
